name: reviewdog
on: [pull_request]
jobs:
  vimlint:
    name: runner / vimlint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v1
      - name: vimlint
        uses: tsuyoshicho/action-vimlint@master
        with:
          github_token: ${{ secrets.github_token }}
      - name: vimlint-pr-review
        uses: tsuyoshicho/action-vimlint@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
