name: Test
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  pull-requests: write

jobs:
  test-check:
    name: runner / vimlint (github-check)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: vimlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / vimlint (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: vimlint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / vimlint (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: vimlint-github-pr-review
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
